@media all and (max-width: 849px) {
    .article__h2 {
        font-size: 1.3em;
    }

    .article__content {
        font-size: 0.8em;
        width: 80%;
    }

    .article__moreInfos {
        font-size: 0.8em;
        gap: 3%;
    }

    .voterate__container {
        width: 10%;
    }

    .voterate__arrow {
        padding:4px;
    }

    .voterate__number {
        font-size: 0.8em;
    }

    .article__contentImg {
        height: 100%;
    }

    .article__contentImgWrapper {
        width: 90%;
    }

    
}

@media all and (min-width: 850px) {

    .article__h2 {
        font-size: 1.7em;
    }

    .article__content {
        font-size: 1em;
    }

    .article__moreInfos {
        font-size: 1em;
        gap: 3%;
    }

    .voterate__arrow {
        padding:7px;
    }

    .voterate__number {
        font-size: 1.2em;
    }

    .article__contentImg {
        height: 100%;
    }

    .article__contentImgWrapper {
        width: 90%;
    }

}

@media all and (min-width: 1500px) {

    .article__h2 {
        font-size: 2em;
    }

    .article__content {
        font-size: 1.2em;
        width: 60%;
    }

    .article__moreInfos {
        font-size: 1.1em;
        gap: 6%;
    }

    .voterate__container {
        width: 15%;
    }

    .voterate__arrow {
        padding:9px;
    }

    .voterate__number {
        font-size: 1.4em;
    }

    .article__contentImgWrapper {
        width: 50%;
    }

    .article__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article__contentText {
        width: 60%;
        margin-left: 15%;
    }
}

.voterate__container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.voterate__arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    
}

.voterate__up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.voterate__arrow:hover {
    cursor: pointer;
}

.voterate__down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.voterate__number {
    text-align: left;
}

.greenArrow {
    background-color: green;
}


.article__section {
    border-top: 2px solid rgba(23, 76, 87, 35%);
    padding-top: 5%;
    display: flex;
    margin-bottom: 5%;
    width: 100%;
}


.article__h2 {
    margin-bottom: 1em;
}

.article__h2:hover {
    color: green;
    cursor: pointer;
}

.article__contentImgWrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 2%;
}
  
.article__contentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__contentImg:hover {
    cursor: pointer;
}

.article__contentText {
    margin-right: 5%;
    margin-bottom: 1em;
    color: gray;
}

.article__moreInfos {
    display: flex;
    align-items: center;
    color: gray;
    
}


.article__moreInfos__date {
    font-style: italic;
}

.article__moreInfos__author_name {
    font-weight: bold;
    font-style: italic;
    color: green;
}