@media all and (max-width: 849px) {

    .homeButton__div {
        width: 80px;
    }

    .detailedArticle__h2 {
        font-size: 1.5em;
    }

    .detailedArticle__moreInfos {
        gap: 3%;
    }

    .detailedArticle__comment__number {
        gap: 2%;
    }

    .comment__content {
        font-size: 1em;
    }

    .comment__author {
        font-size: 0.8em;
    }

    .voterate__arrow {
        padding:4px;
    }

    .voterate__number {
        font-size: 0.8em;
    }


}

@media all and (min-width: 850px) {

    .homeButton__div {
        width: 100px;
    }

    .homeButton__text {
        font-size: 1.4em;
    }

    .detailedArticle__h2 {
        font-size: 1.8em;
    }

    .detailedArticle__contentText {
        font-size: 1.3em;
    }

    .detailedArticle__moreInfos {
        font-size: 1.1em;
        gap: 1%;
    }

    .detailedArticle__comment__number {
        gap: 1%;
        font-size: 1.1em;
    }

    .comment__content {
        font-size: 1.2em;
    }

    .comment__author {
        font-size: 1em;
    }

    .voterate__arrow {
        padding:5px;
    }

    .voterate__number {
        font-size: 1.0em;
    }

}

@media all and (min-width: 1650px) {

    .homeButton__div {
        width: 200px;
    }

    .homeButton__text {
        font-size: 2em;
    }

    .detailedArticle__h2 {
        font-size: 2.2em;
        text-align: center;
    }

    .detailedArticle__contentText {
        font-size: 1.5em;
    }

    .detailedArticle__moreInfos {
        font-size: 1.3em;
        gap: 1%;
    }

    .detailedArticle__comment__number {
        gap: 1%;
        font-size: 1.3em;
    }

    .comment__content {
        font-size: 1.6em;
    }

    .comment__author {
        font-size: 1.4em;
    }

    .voterate__arrow {
        padding:9px;
    }

    .voterate__number {
        font-size: 1.2em;
    }

}

.homeButton__div {
    border: 4px solid rgba(23, 76, 87, 35%);
   
    border-radius: 1%;
    margin-left: 5%;
    background-color: rgba(21, 32, 43, 50%); ;
}

.homeButton__text {
    text-align: center;
}

.homeButton__div:hover {
    cursor:pointer;
    background-color: rgba(10, 91, 173, 0.2);
}


.voterate__container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.voterate__arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
}

.voterate__up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.voterate__down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.voterate__number {
    text-align: left;
}


.detailedArticle__section {
    border-top: 2px solid rgba(23, 76, 87, 35%);
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
}

.detailedArticle__section__article {
    display: flex;
}

.detailedArticle__content {
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detailedArticle__h2 {
    margin: 1em auto;
}

.detailedArticle__contentImgWrapper {
    width: 90%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2%;
}
  
.detailedArticle__contentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailedArticle__contentText {
    width: 90%;
    margin-bottom: 15%;
    color: gray;
}

.detailedArticle__moreInfos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin: 5% auto 3% auto;
    text-align: left;
}


.detailedArticle__moreInfos__date {
    font-style: italic;
}

.detailedArticle__moreInfos__author {
    font-weight: bold;
    font-style: italic;
    color: green;
}

.detailedArticle__comment__section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10%;
}

.detailedArticle__comment__number {
    color: white;
    display: flex;
    align-items: center;
}

.detailedArticle__comment__number em {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}

.detailedArticle__comment__container {
    margin-top: 5%;
}


.detailedArticle__comment__div {
    margin-bottom: 5%;
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 5%;
    
}

.comment__div {
    border: 4px solid rgba(23, 76, 87, 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    color: gray;
    border-radius: 1%;
}

.comment__content {
    margin-bottom: 3%;
}


.comment__author em {
    color: green;
}

.voterate__arrow:hover {
    cursor: pointer;
}