@media all and (max-width: 849px) {

.header {
    gap: 10px;
}

.header__input {
    width: 75%;
    height: 2.2em;
}

.header__h1 {
    font-size: 1.7em;
}

}

@media all and (min-width: 850px) {

.header {
    gap: 15px;
}
    

.header__input {
    width: 85%;
    height: 3.5em;
}

.header__h1 {
    font-size: 2em;
}

}

@media all and (min-width: 1650px) {

.header {
    gap: 25px;
}

.header__input {
    width: 65%;
    height: 5em;
}
 
.header__h1 {
    font-size: 2.3em;
}    

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% auto 5% auto;
    
}

.header__div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__img {
    background-color: rgba(2, 154, 255, 0.141);
    border-radius: 50%;
}



.header__input {
    background-color: rgba(10, 91, 173, 0.176);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    margin-bottom: 7%;
    margin-right: 11.5%;
    margin-left: 13.5%;
}

::placeholder {
    color: rgba(146, 163, 198, 0.7);
}